html, body {
    width: 100%;
    /*height: 100%;*/
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    background-image: url(../assets/zuche-main.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.App {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mask {
    flex: 1 1 auto;
}

.main-content {
    flex: 1 1 auto;
    margin-top: .6rem;
}
