.top-nav {
    margin-top: 1.8rem;
}

.info {
    width: 100%;
    padding: 0 .7rem;
    display: flex;
    justify-content: space-between;
}

.list {
    margin-top: 1.2rem;
    display: flex;
}

.user {
    width: 1rem;
    height: 1rem;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.list > .item {
    flex: 1;
    text-align: center;
    font-size: .9rem;
}

.list > .item > a {
    text-decoration: none;
}

.list > .active > a {
    color: #f6b648;
}