.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    transition: background-color 100ms linear;
    z-index: -1;
    background-color: transparent;
}

.mask-exit-done {
    visibility: hidden;
}

.mask-enter, .mask-enter-done {
    background-color: rgba(0, 0, 0, 0.6);
}

.mask-enter, .mask-enter-done, .mask-exit {
    z-index: 1;
}


#nav {
    position: fixed;
    width: 58%;
    right: 100%;
    top: 0;
    bottom: 0;
    background-color: white;
    transition: right 100ms ease-in-out;
    display: flex;
    flex-direction: column;
}

.mask-enter > #nav, .mask-enter-done > #nav {
    right: 42%;
}

.bio, .invite {
    flex: 0 0 auto;
}

.lists {
    flex: 1 1 auto;
}

.bio {
    margin-top: 6rem;
}

.invite {
    margin-bottom: 2rem;
    text-align: center;
}
