.form {
    height: 14rem;
    display: flex;
    flex-direction: column;
}

.form > button {
    border: 0;
    margin: 0 1rem;
    border-radius: .3rem;
    padding: .6rem;
    background-color: #f6b340;
    color: #fef4e3;
}